body {
    font-family: system-ui, sans-serif;
    margin: 0;
    padding:0;
    background-image: url("./media/kaws-sad.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar {
    background: #0e0a0b;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.btn-primary {
    background: #c32323;
    color: white;
    border: none;
    padding: 12px;
    font-size:1.1rem;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-primary:hover {
    transform: scale(1.05);
    background-color: #d4153c;
    box-shadow: 0 0 10px 7px rgba(220, 20, 60, 0.7);
}

.btn-secondary {
    background: #328f32;
    color: white;
    border: none;
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-secondary:hover {
    transform: scale(1.05);
    background-color:#25d130;
    box-shadow: 0 0 10px 7px rgba(37, 209, 48, 0.7);
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 30px;
    height:100%;
}

.product-card {
    display:flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px 8px rgba(245, 27, 27, 0.5);
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.product-card:hover {
    box-shadow: 0 0 15px 10px rgba(117, 224, 36, 0.8);
    transform: translateY(-15px);
}

.product-card img {
    width: 100%;
    height: 190px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-card h3 {
    margin-bottom: 10px;
}

.price {
    font-size:1.2rem;
    font-weight: bold;
    color: green;
}

.shop-btn {
    margin-top:auto;
    width: 50%;
    background: #2d9731;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.shop-btn:hover {
    transform: scale(1.09);
    font-weight: bold;
    background-color: #587539;
}

/* Popup */
#authPopupBackdrop {
    display:none;
    position:fixed;
    top:0; left:0;
    width:100%; height:100%;
    background: rgba(0,0,0,0.5);
    justify-content:center;
    align-items:center;
    z-index:1000;
}

#authPopupBackdrop.active { 
    display:flex; 
}

#authPopup {
    background:#f9f2f2;
    padding:25px 35px;
    border-radius:10px;
    text-align:center;
    position:relative;
    max-width:350px;
    width:90%;
    box-shadow:0 4px 20px rgba(0,0,0,0.3);
}

#authPopup h2 { 
    margin-bottom:15px; 
}

#authPopup p {
    margin-bottom:20px; font-size:16px;
}

#authPopup .buttons a {
    display:inline-block;
    margin:5px 10px;
    padding:10px 20px;
    background-color:#c32323;;
    color:#fff;
    border-radius:20px;
    text-decoration:none;
    font-weight:bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#authPopup .buttons a:hover{
    transform:scale(1.08);
}

#authPopup .close {
    position:absolute;
    top:10px; right:15px;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}