body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    color: #ddd;
}

.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url("../media/masterchief.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.68);
    z-index: 1;
}

.hero > * {
    position: relative;
    z-index: 2;
}

h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
}

.headsec {
    display: flex;
    flex-direction: column;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
    gap: 15px;
}

a { 
    text-decoration: none; 
    color: #2196F3; 
}

.btn-nav {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-nav:hover {
    transform: scale(1.08);
    box-shadow: 0 0 10px;
}

table { 
    width: fit-content;
    max-width: 100%;
    margin: 0 auto; 
    border-collapse: collapse; 
    margin-top: 20px;
    overflow-x: auto;
}

th, td { 
    padding: 8px; 
    border: 1px solid #ddd; 
    text-align: left; 
    vertical-align: middle; 
}

th { 
    color: #f2f2f2; 
}

input[type="text"], input[type="number"] { 
    width: 100%; 
    padding: 1px; 
}

button {
    background-color: black;
    color: white;
    padding: 5px 10px; 
    margin: 2px; 
    cursor: pointer;
    border-radius: 15px;
}

.add-form {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; 
    color: #f9f9f9; 
    padding: 15px; 
    border-radius: 8px;
}

.add-product {
    background-color: #76b900;
    color: white;
    border-radius: 20px;
    padding: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.add-product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px;
    font-weight: bold;
}

img.product-img { 
    width: 80px; 
    height: 80px; 
    object-fit: cover; 
    border-radius: 5px; 
}

.edit-fields {
    display: none;
}

.editing .edit-fields {
    display: block;
}

.editing .view-fields {
    display: none;
}